@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body{
    font-family: 'Andada Pro', serif;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black
  }

  h2 ,h3{
      display: flex;
      justify-content: center;
  }
  /**Navbar**/
.navbar{
    background: rgba(190, 224, 235, 0.5);
    z-index: 1;
    display: flex;
    height: 5rem;
    align-items: center;
}

.nav-center{
    display: flex;
    justify-content:space-between;
    align-items: left;
    color: rgb(216, 106, 63);
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
    }
.nav-links{
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-links a{
    text-transform: capitalize;
    display: inline-block;
    font-weight:bold;
    margin-right: 0.5rem;
    letter-spacing: 2px;
    font-size: 1.7rem;
    padding: 0.3rem 0.9rem;
  }
  .nav-links a:hover{
    color: rgb(137, 180, 124);
  }

  /** Home **/
.bannerImage{
    background-image: url("./images/image1.jpg");
    background-size: cover;
    width: 97.7vw;
    height: 75vh;
    border-radius: 1%;
}

.homepageTitle{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: larger;
    padding: 1.5rem;
}
.homepageImage{
    display: flex;
}
.homeImage img{
    display: flex;
    justify-content:end;
    padding: 0.7rem;
    width: 22.7vw;
    height: 45vh;
    border-radius: 50%;
}

.homepageImage h3{
    padding-bottom: 1rem;
}

footer{
    height: 5rem;
    background-color:rgba(190, 224, 235, 0.5);
}

