@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body{
    font-family: 'Andada Pro', serif;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black
  }

h4{
    display: flex;
    justify-content: center;
    color: black;
}

  /**Navbar**/
.navbar{
  background: rgba(190, 224, 235, 0.5);
  z-index: 1;
  display: flex;
  height: 5rem;
  align-items: center;
}

.nav-center{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: rgb(216, 106, 63);
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
    }
   
.nav-links{
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav-links a{
  text-transform: capitalize;
  display: inline-block;
  font-weight:bold;
  margin-right: 0.5rem;
  letter-spacing: 2px;
  font-size: 1.7rem;
  padding: 0.3rem 0.9rem;
}
.nav-links a:hover{
  color: rgb(137, 180, 124);
}

 /** Home **/

 .bannerImage{
  /* background-image: url("./Images/image1.jpg"); */
  /* background-size: cover; */
  width: 97.7vw;
  height: 75vh;
  overflow: hidden;
  /* border-radius: 1%; */
  margin: 0 0.5rem 2rem 0.5rem;
}

.bannerImage img{
  width: 97.7vw;
  height: 380vh;
}
.homepageTitle{
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: larger;
  padding: 1.5rem;
}
.homepageImage{
  display: flex;
  padding: 2rem;
}
.homepageImage img{
  display: flex;
  justify-content:end;
  padding: 0.7rem;
  width: 23vw;
  height: 45vh;
  border-radius: 50%;
}

/* .homepageImage h3{
  padding-bottom: 1rem;
} */

footer{
  height: 5rem;
  background-color:rgba(190, 224, 235, 0.5);
}

  .homeImage{
      display: block;
}


/**Room **/
.room{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 90vw;
  margin: 0 auto;
}
.product{
  display: flex;
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
  padding: 10px;
  background-color: black;
}
.productImg{
  width: 70%;
  height: 100%;
  margin: auto 0;
}
.productImg img{
  height: 100%;
  /* margin: 10px 0; */
  object-fit:cover;
}
.productDesc{
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
}
.productDesc h6{
  font-size: 16px;
}
.productDesc h3{
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
}
button{
  width: 100px;
  border: none;
  background-color: cornsilk;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 30%;
}
 
